[submodule "tmux-MacOSX-pasteboard"]
	path = tmux-MacOSX-pasteboard
	url = https://github.com/ChrisJohnsen/tmux-MacOSX-pasteboard.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git@github.com:akaivola/oh-my-zsh.git
[submodule "vim-dot-files"]
	path = vim-dot-files
	url = git@github.com:akaivola/vim-dot-files.git
[submodule "emacs-live"]
	path = emacs-live
	url = https://github.com/overtone/emacs-live.git
[submodule "emacs/evilmode-pack"]
	path = emacs/evilmode-pack
	url = https://github.com/siancu/evilmode-pack
[submodule "emacs/.live-packs/akaivola-pack/lib/arduino-mode"]
	path = emacs/.live-packs/akaivola-pack/lib/arduino-mode
	url = git@github.com:bookest/arduino-mode.git
